* {
  margin: 0px;
  padding: 0px;
}
.container {
  background-color: blue;
  border: 2px solid brown;
  color: white;
  width: 50vw;
  height: 50vh;
}
.conatiner2 {
  font-size: 10px;
}
.box {
  font-size: 2em;
}
p {
  font-size: 3rem;
}
