* {
  margin: 0;
  padding: 0;
}
.box {
  height: 400px;
  width: 400px;
  background-color: orange;
  color: white;
  margin: 100px auto;
  position: relative;

  /* transform: scale(1.5);  */
  /* transform: rotate(45deg);  */
  /* transform: translatex(100px );
     transform: translateY(300px);   */
}
.box h3 {
  text-align: center;
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  position: absolute;
  top: 40%;
  left: 25%;
}
